//
//  Config.xcconfig
//  CitySights App
//
//  Created by Graceson Thompson on 8/19/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = zX9wNO5RWogUFPpVDSzio3C6ZHF16u5o5PWJ_-buDWqcHbyOxqyKg61R0tnYOo1bNZZSvLV1ZlpJ4nFukl-rq3RQSS5YwSKBF-H6EFiGkT97N_mLefjqzajiwULxZnYx


